@import '~bootstrap/scss/bootstrap';

// .sign-out-button {
//   display: none;
// }

.carousel img {
  max-height: calc(100vh - 50px);
  min-width: auto;
}

// #carousel {
//   display: none;
// }

.sign-out-button {
  display: none;
}

.change-password-section {
  display: none;
}

// .sign-in-section {
//   display: none;
// }
