
main {
  @include make-container;
  @include make-container-max-widths;

  section {
    @include make-col-ready;
    @include media-breakpoint-up(md) {
      @include make-col(6);
    }
    @include media-breakpoint-up(lg) {
      @include make-col(4);
    }
    background: $white;
    border: 1px solid;
    cursor: pointer;
    margin: -1px;
    outline: none;
    padding: 1rem;
  }

  .content {
    @include make-row;
  }
}
